
<div class="col-md-6">
<%= render 'form' %>

<%= link_to 'Back', statuses_path %>
</div>
<div class="col-md-6">
<h2>Enter your new status</h2>
You might include things like where you are at, what you are doing, or maybe even personal thoughts, or a quote for the day.  Your status is your own, whatever you want to put there is up to you.
<h3>MyWorldtoGo.com, making the world a smaller place, without selling your information</h3>
</div>
