<html>
<head>
<title>You have a friend request</title>
</head>
<body>
Hi <%= @friend.first_name %>,
<br />
<%= @user.first_name %> wants to be friends on <a href="http://www.myworldtogo.com">My World to Go</a>, if you want to be friends too login and accept <%= @user.first_name %>'s request!
<br />
Sincerely,
<br />
Todd @ My World to Go
</body>
</html>

