<html>
<head>
<title>Your friend request has been accepted</title>
</head>
<body>
Hi <%= @user.first_name %>,
<br />
<%= @friend.first_name %> has accepted your friend request on <a href="http://www.myworldtogo.com">My World to Go</a>!  Congratulations! You have a new friend, you're getting pretty popular!
<br />
Sincerely,
<br />
Todd @ My World to Go
</body>
</html>

