<html>
<head>
<title><%= @user.first_name + " " + @user.last_name %> wants to invite you to join My World to Go</title>
</head>
<body>
Hi <%= @friend.first_name %>,
<br />
<%= @user.first_name %> wants to invite you to join <a href="http://www.myworldtogo.com">My World to Go</a>.
<br />
<a href="http://www.myworldtogo.com">My World to Go</a> is a new social networking website that is always adding new features.  Currently it is a very small network, one that doesn't harvest your data to sell it to anyone.  We would love to have you join us and you can help us decide what new features to add!
<br />
In the future we will allow users to create their own unique, customizable social networks using our platform.  Currently we are still adding new features.  Do you have any ideas for cool features to add?  We would love your input, so come <a href="http://www.myworldtogo.com">join us</a>!
<br />
Sincerely,
<br />
Todd @ My World to Go
</body>
</html>

