<p>Updated an
<% if activity.targetable %>
  <%= link_to "album", album_pictures_path(activity.targetable.user, activity.targetable) %></p>
  <p><%= link_to activity.targetable.title, album_pictures_path(activity.targetable.user, activity.targetable) %></p>
  <p>
	<% album_thumbnail(activity.targetable, true).each do |item| %>
		<%= link_to item[:image], album_picture_path(activity.targetable.user, activity.targetable, item[:picture]) %>
	<% end %>
  </p>
<% else %>
  album.</p>
<% end %>