<p>Is now friends with
<% if activity.targetable %>
  <%= activity.targetable.friend.full_name %> <%= avatar_profile_link activity.targetable.friend, {class: 'img-circle'} %></p>
<% else %>
  a user.</p>
<% end %>