// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.activity {
    
}

.activity p {
    
}

div.activity:hover {
    background: #FAFAFA;
}

.activity .admin {
    display: none;
}

div.activity:hover .admin {
    display: inline;
}

div.controls {
    margin-bottom: 5px;
}