/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
     padding-top: 60px;
 }

 .alert {
     margin-top: 10px;
 }
 
 div.navbar-inverse ul.dropdown-menu li a, div.navbar-inverse ul.dropdown-menu li {
    background-image: none;
    color: #000;
    margin-left: 40px;
    margin-right: 40px;
 }

div.navbar-inverse ul.dropdown-menu li a dl, div.navbar-inverse ul.dropdown-menu li dl {
    margin-left: -30px;
 }

 li table a, li table tr td strong a, li table tr td div div a.btn.btn-warning, a.btn.btn-success {
 	margin: 0 0 0 5px;
 }

 li table tr td div div a.btn.btn-warning, li table tr td div div a.btn.btn-success, li table tr td div div a.btn.btn-info, li table tr td div div a.btn.btn-primary, li table tr td div div a.btn.btn-danger {
 	color: white;
 	margin: 0 0 0 5px;
 }

 li.disappear {
 	visibility: hidden;
	float: left;
 }

 ul.breadcrumb {
 	margin-bottom: 5px;
 }

 .hiddencomment {
 	display: none;
 }